.main {
  margin: 0 4.5rem;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.profile-box {
  margin-block-start: 2rem;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#profile__img {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}

#slack {
  display: none;
}

.share-box {
  background-color: transparent;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 2px dotted #666;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 20%;
  transform: translate(-50%, -50%);
}
.share-box img {
  height: 80%;
}

.ellipsis {
  display: none;
}

.App-link:link,
.App-link:visited {
  height: 3.5rem;
  color: #222;
  background-color: rgb(187, 186, 186);
  border-radius: 6px;
  margin-block: 0.9rem;
  margin-inline: 0.6rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.App-link:active,
.App-link:hover {
  background-color: rgb(124, 122, 122);
}

.logos {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 2rem;
}
.logos img {
  height: 2rem;
  padding-inline: 0.4rem;
}

/* Form */
form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 42rem;
  margin: 2.4rem auto 4.8rem;
  row-gap: 1.2rem;
}

form > div {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 0.9rem;
  font-weight: 500;
  margin-block-end: 0.4rem;
}

input,
button {
  height: 1.6rem;
}

textarea {
  height: 5.6rem;
}

input,
textarea,
button {
  border: none;
  box-shadow: 0 0px 3px 2px #bbb;
  font-size: 1rem;
  padding: 0.4rem 0.8rem;
  border-radius: 8px;
}

.form_text {
  display: block;
  grid-row: 1;
  grid-column: 1/-1;
}
.form_text h2 {
  font-size: 1.8rem;
  margin-block: 0.4rem;
}
.form_text p {
  font-size: 1.1rem;
  margin-block: 0.3rem;
}

.first_name {
  grid-column: 1;
  grid-row: 2;
  margin-inline-end: 0.5rem;
}

input:focus-visible,
textarea:focus-visible {
  outline: none;
  box-shadow: 0 0px 3px 2px #b2ddff;
}
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: #222;
}

textarea:focus,
input:invalid:focus-visible {
  outline: none;
  box-shadow: 0 0px 2px 1px #fc1212;
}
textarea:invalid:focus, textarea:invalid:focus-visible {
  outline: none;
  box-shadow: 0 0px 4px 3px #fc1212;
}

.last_name {
  grid-column: 2;
  grid-row: 2;
  margin-inline-start: 0.5rem;
}

.email {
  grid-column: 1/-1;
  grid-row: 3;
}

.message {
  grid-column: 1/-1;
  grid-row: 4;
}

.agree {
  grid-column: 1/-1;
  grid-row: 5;
  flex-direction: row;
  align-items: center;
}

.agree input[type="checkbox"] {
  appearance: none;
  position: relative;
  cursor: pointer;
  margin-inline-start: 0;
  margin-inline-end: 0.8rem;
}
.agree input[type="checkbox"]:checked {
  box-shadow: 0 0px 3px 2px #175cd3;
}
.agree input[type="checkbox"]:checked::before {
  content: "✔";
  position: absolute;
  top: 45%;
  right: 0;
  transform: translate(-50%, -50%);
  color: #1570ef;
}

button {
  grid-column: 1/-1;
  grid-row: 6;

  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  background-color: #1570ef;
  height: 2.6rem;
  outline: none;
  cursor: pointer;
}
button:hover {
  background-color: #175cd3;
}
button:focus {
  border: 3px solid #b2ddff;
}
button:active,
button:visited {
  border: none;
  background-color: #b2ddff;
}

.success_message {
  margin: 0 auto;
  padding: 1.2rem 1.8rem;
  grid-column: 1/-1;
  background-color: rgb(45, 192, 77);
  border-radius: 6px;
  box-shadow: 0 0px 3px 2px #bbb;
}

.error_message {
  margin-block-start: 0.3rem;
  font-size: 0.7rem;
  color: #fc1212;
}

/* Footer */
footer {
  border-top: 1px solid #bbb;
  padding-block: 1.2rem;
  margin-top: 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer p {
  font-size: 0.9rem;
}

.i4g-logo {
  height: 2.4rem;
}

/* Mobile View */
@media screen and (max-width: 37.5em) {
  html {
    font-size: 87.5%;
  }

  .main {
    margin: 0 1rem;
  }

  .share-box {
    right: 0;
    transform: translate(0%, 0%);
    height: 1.5rem;
    width: 1.5rem;
  }
  .share {
    display: none;
  }
  .ellipsis {
    display: block;
  }

  .App-link {
    font-size: 75%;
    margin-inline: 0;
    text-decoration: none;
  }

  form {
    margin: 1.6rem 1.2rem 4.2rem;
  }

  .first_name {
    grid-column: 1/-1;
    margin-inline-end: 0;
  }
  .last_name {
    grid-column: 1/-1;
    grid-row: 3;
    margin-inline-start: 0;
  }
  .email {
    grid-row: 4;
  }
  .message {
    grid-row: 5;
  }
  textarea {
    font-size: 0.9rem;
  }

  .agree {
    grid-row: 6;
  }
  #btn__submit {
    grid-row: 7;
  }

  footer {
    flex-direction: column;
    align-items: flex-start;
  }
  footer img {
    height: 1.5rem;
  }
}
